/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between; /* Space between the links and toggle */
    align-items: center;
    background-color: #34495e;
    padding: 10px 20px;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links li a:hover {
    color: #e74c3c;
    transition: color 0.3s ease;
}

/* Toggle button styles */
.toggle {
    color: #fff;
    background-color: #e74c3c;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.toggle:hover {
    background-color: #c0392b;
    transition: background-color 0.3s ease;
}

/* Light mode styles */
body {
    background-color: white;
    color: black;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000000;
    color:white;
}

.navbar.dark-mode {
    background-color: #000000;
}

.nav-links a.dark-mode {
    color: #ecf0f1;
}

.toggle.dark-mode {
    background-color: #ecf0f1;
    color: #2c3e50;
}
